@media screen and (min-width: 36em) {

    main {
        grid-template-columns: 2fr 1fr;
    }

    .card-certificate {
        grid-column: 1 / 3;
    }

    h1 {
        grid-column: 1 / 3;
    }

    .course-card {
        max-width: 270px;
    }

    #menu {
        display: none;
    }

    .navigation a {
        display: flex;
        flex: 1 1 100%;
        justify-content: center;
    }

    .navigation div {
        flex-direction: row;
    }

    .container {
        max-width: 100%;
    }

    #courses-details {
        max-width: 60vw;
    }

}